/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --primary-color: rgb(229 229 229); 
  --secondary-color: white;
  --tertiary-color: rgb(107 114 128);
  --quadrary-color: rgb(226 232 240);
  --mid-green: #63c993;
  --unl-yellow: #fcc482;
  --sup-blue: #6492ec;
}

* {
  font-family: 'Urbanist', sans-serif;
}

.settingsCheckbox{
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.settingsCheckbox::before{
  content:'';
  position: absolute;
  width: 56px;
  height: 26px;
  border-radius: 13px;
  transition: all .3s ease-in-out;
  background-color: var(--quadrary-color);
}

.settingsCheckbox:checked::before{
  transition: all .3s ease-in-out;
  background-color: var(--tertiary-color);
}

.settingsCheckbox::after{
  position: absolute;
  content:'';
  transform: translateY(-43%)translateX(4px);
  top: 50%;
  z-index: 5;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color:  var(--tertiary-color);
  transition: all .3s ease-in-out;
}

.settingsCheckbox:checked::after{
  transition: all .3s ease-in-out;
  transform: translateY(-43%) translateX(34px);
  background-color: var(--secondary-color);
}





